* {
  margin: 0;
  padding: 0;
  font-family: Urbanist;
}

html {
  scroll-behavior: smooth;
}

.portfolioName {
  padding: 60px;
  background-color: #feb705;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolioName p {
  color: #000000;
  font-size: 2em;
  font-family: Bungee Shade;
  font-weight: 800;
}

.navbar {
  background-color: #e20a2a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar nav ul {
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 15px;
}

.navbar nav ul a {
  padding: 7.5px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  border: 1.75px solid #ffffff;
  border-radius: 25px;
}

.navbar nav ul a li {
  color: #ffffff;
  list-style: none;
}

.hero {
  padding: 75px;
  background-color: #f3efe6;
  text-align: center;
}

.hiText1 {
  font-size: 2em;
}

.hiText2 {
  font-size: 2.5em;
  font-family: Englebert;
  font-weight: 700;
}

.role {
  margin: 20px;
  color: #e20a2a;
  font-weight: 600;
}

.description {
  margin: 20px 10px 0px 10px;
}

.aboutText {
  padding: 15px;
  background-color: #feb705;
  font-size: 1.75em;
  font-weight: 500;
  text-align: center;
}

.aboutCard {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePicture img {
  width: 300px;
  border: 5px solid #feb705;
  border-radius: 25px;
}

.profileDescription {
  margin: 0px 0px 0px 30px;
  padding: 30px;
  background-color: #f3efe6;
  text-align: center;
  border-radius: 24px;
}

.profileDescriptionHeading {
  margin: 10px;
  font-size: 1.5em;
  font-weight: 500;
}

.profileDescriptionSummary {
  margin: 10px;
}

.profileDescriptionSkills {
  margin: 10px;
}

.skillsText {
  padding: 15px;
  background-color: #e20a2a;
  color: #ffffff;
  font-size: 1.75em;
  font-weight: 500;
  text-align: center;
}

.skillsCardSection {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.skillsCard {
  padding: 10px;
  background-color: #f3efe6;
  display: grid;
  grid-template-columns: 50px auto;
  border-radius: 24px;
}

.skillsCardImage {
  height: 50px;
}

.skillsCardImage img {
  width: 50px;
  border-radius: 16px;
}

.skillsCardText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projectsText {
  padding: 15px;
  background-color: #feb705;
  font-size: 1.75em;
  font-weight: 500;
  text-align: center;
}

.projectsCardSection {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.projectsCard {
  padding: 30px;
  background-color: #f3efe6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 24px;
}

.projectsCardImage img {
  width: 400px;
  border: 3.5px solid #feb705;
  border-radius: 16px;
}

.projectsCard p {
  margin: 20px 0px 0px 0px;
  text-align: center;
}

.projectsCard .projectsName {
  margin-top: 20px;
  font-weight: 600;
  text-align: center;
}

.projectsCardLinks {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectsCardLinks1 a {
  width: 150px;
  margin: 0px 20px;
  padding: 10px;
  background-color: #feb705;
  text-decoration: none;
  display: grid;
  grid-template-columns: 20px auto;
  gap: 10px;
  border-radius: 16px;
}

.projectsCardLinks2 a {
  width: 150px;
  margin: 0px 20px;
  padding: 10px;
  background-color: #e20a2a;
  text-decoration: none;
  display: grid;
  grid-template-columns: 20px auto;
  gap: 10px;
  border-radius: 16px;
}

.projectsCardLinksIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectsCardLinksIcon img {
  width: 20px;
}

.projectsCardLinksText1 {
  margin-right: 20px;
  color: #000000;
  text-align: center;
}

.projectsCardLinksText2 {
  margin-right: 20px;
  color: #ffffff;
  text-align: center;
}

.educationText {
  padding: 15px;
  background-color: #e20a2a;
  color: #ffffff;
  font-size: 1.75em;
  font-weight: 500;
  text-align: center;
}

.educationCard {
  margin: 20px;
  padding: 20px 25px;
  background-color: #f3efe6;
  display: grid;
  grid-template-columns: 100px auto;
  border-radius: 24px;
}

.educationCardImage {
  height: 100px;
}

.educationCardImage img {
  width: 100px;
  border-radius: 16px;
}

.educationCardText p {
  margin: 10px;
  text-align: center;
}

.educationCardText .educationName {
  margin: 10px;
  font-weight: 600;
  text-align: center;
}

.contactText {
  padding: 15px;
  background-color: #feb705;
  font-size: 1.75em;
  font-weight: 500;
  text-align: center;
}

.contactCardSection {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.contactCard {
  padding: 10px;
  background-color: #f3efe6;
  display: grid;
  grid-template-columns: 50px auto;
  border-radius: 24px;
}

.contactCardIcon {
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.contactCardIcon img {
  width: 30px;
}

.contactCardText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactCardText p {
  margin: 2.5px 0px;
}

.contactCardText .contactType {
  margin: 2.5px 0px;
  font-weight: 600;
}

footer {
  padding: 15px;
  background-color: #e20a2a;
  color: #ffffff;
  text-align: center;
}
